<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h2>
  <%= t('.success_rate') %>:
  <span class="<%= test_passage_conclusion(@test_passage) %>">
    <%= @test_passage.success_rate %>%
  </span>
</h2>

<p>
  <%= link_to t('.back_link'), tests_path %>
</p>