<h1><%= t('.header') %></h1>


<p><%= link_to t('.new_test_link'), new_admin_test_path %></p>

<table>
  <tr>
    <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>

<h1><%= t('.gist_header') %></h1>
<table>
  <tr>
    <th><%= t('.gist_question') %></th>
    <th><%= t('.gist_id') %></th>
    <th><%= t('.gist_user') %></th>
  </tr>
  <% @gists.each do |gist| %>
    <tr>
      <th><%= link_to "#{Gist.question(gist).slice(0, 25)}", admin_question_path(Gist.gist_question_path(Gist.question(gist))) %></th>
      <th><%= link_to "#{gist[:id]}", gist[:html_url] %></th>
      <th><%= Gist.email %></th>
    </tr>
  <% end %>
</table>